{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/newsSec.css' %}">
{% endblock %}

{% block content %}
<div class="mx-auto w-100" style="position: absolute; z-index: 0;" >
    <div id="newsSec">
        <div class="border border-0 rounded mt-0 p-3">
            <div class="list-group">
                {% if outlets %}
                    {% for outlet, outlet_logo, outlet_desc in outlets %}
                        <form id="outlet_form-{{outlet.outlet_name}}" name="outlet_form-{{outlet.outlet_name}}" action="../newsoutlet/{{outlet.outlet_name}}" method="POST">
                        {% csrf_token %}
                            <div class="list-group-item list-group-item-action flex-column align-items-start mt-4 border rounded">
                                <div class="row d-flex flex-nowrap">
                                    <div class="col-8">
                                        <input type="hidden" name="outletID" value="{{outlet.id}}"/>
                                        {% comment %} <a href="../newsoutlet/{{outlet.outlet_name}}{{outlet.id}}" class="mb-1 text-dark font-weight-bold"> {% endcomment %}
                                        <button type="submit" class="btn btn-link mb-1 text-dark font-weight-bold">
                                            <p class="m-0" style="font-size:1.3rem; display:inline-block">{{outlet.outlet_name}}</p>
                                            <span class="ml-2 badge badge-primary badge-pill">{{outlet.credibility_score|floatformat:2}}% Credible</span>
                                        </button>
                                        <p class="mt-1">
                                        <small>{{outlet_desc}}</small>
                                        </p>
                                    </div>
                                    <img class="border rounded ml-4" src="{{outlet_logo}}" width=25%>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                {% else %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start mt-3">
                        <div class="row d-flex flex-nowrap">
                            <h5>&nbsp&nbsp&nbspNo news outlets found.</h5>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}               

            