{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/newsSec.css' %}">
{% endblock %}

{% block content %}
<div class="mx-auto w-100" style="position: absolute; z-index: 0;" >
    <div id="newsSec">
        <div class="border border-0 rounded mt-0 p-3">
    <div class="list-group">    
        <div class="list-group-item list-group-item-action flex-column align-items-start mt-4 border rounded">
            <div class="row d-flex flex-nowrap">
                <div class="col-8">
                    <a href="../newsoutlet/news-outlet" class="mb-1 text-dark font-weight-bold">
                        <p class="m-0" style="font-size:1.3rem; display:inline-block">GMA NEWS</p>
                        <span class="ml-2 badge badge-primary badge-pill">94% Credible</span>
                    </a>
                    <p class="mt-1">
                       <small>Get the latest news on the Philippines and the world: News, Business, Overseas, Entertainment, Sports and Lifestyle in text, video, photos and etc. on GMA News.</small>
                    </p>
                </div>
                <img class="border rounded ml-4" src="{% static 'images/news.jpg' %}" width=25%>
            </div>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start mt-4 border rounded">
            <div class="row d-flex flex-nowrap">
                <div class="col-8">
                    <a href="../newsoutlet/news-outlet" class="mb-1 text-dark font-weight-bold">
                        <p class="m-0" style="font-size:1.3rem; display:inline-block">GMA NEWS</p>
                        <span class="ml-2 badge badge-primary badge-pill">94% Credible</span>
                    </a>
                    <p class="mt-1">
                       <small>Get the latest news on the Philippines and the world: News, Business, Overseas, Entertainment, Sports and Lifestyle in text, video, photos and etc. on GMA News.</small>
                    </p>
                </div>
                <img class="border rounded ml-4" src="{% static 'images/news.jpg' %}" width=25%>
            </div>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start mt-4 border rounded">
            <div class="row d-flex flex-nowrap">
                <div class="col-8">
                    <a href="../newsoutlet/news-outlet" class="mb-1 text-dark font-weight-bold">
                        <p class="m-0" style="font-size:1.3rem; display:inline-block">GMA NEWS</p>
                        <span class="ml-2 badge badge-primary badge-pill">94% Credible</span>
                    </a>
                    <p class="mt-1">
                       <small>Get the latest news on the Philippines and the world: News, Business, Overseas, Entertainment, Sports and Lifestyle in text, video, photos and etc. on GMA News.</small>
                    </p>
                </div>
                <img class="border rounded ml-4" src="{% static 'images/news.jpg' %}" width=25%>
            </div>
        </div>
        

    </div>
    </div>
</div>
{% endblock %}               

            