{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/newsSec.css' %}">
{% endblock %}

{% block content %}
<div class="mx-auto mt-5 w-100" style="position: absolute; z-index: 0;" >
    <div id="newsSec">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <i class="bi bi-heart-fill mr-3 text-danger" style="font-size:40px" title="Health"></i>
                <span><h2 class="font-weight-bold">Health</h2></span>
            </div>
            <div class="btn-group dropleft" style="margin-bottom:8px; margin-top: 8px;">
                <button type="button" class="btn btn-transparent text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item" type="button">Ascending Ranking</button>
                  <button class="dropdown-item" type="button">Descending Ranking</button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item" type="button">Date</button>
                </div>
            </div>

        </div>
    
        {% include 'newscat.html' %}
    </div>
</div>
{% endblock %}               

            