{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col row container-fluid px-0 mt-5 mx-3">
    <div class="col-12 col-md-8 mainContent container-fluid mx-0 pl-5">
        <h2 class="font-weight-bold">Top Ranking</h2>
        <div class="border border-0 rounded mt-4 p-3">
                <span class="headerBlue font-weight-bold p-0"><h4 class="font-weight-bold">Top News Articles:</h4></span>
                <div class="list-group mt-3">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="row d-flex flex-nowrap">
                            <div class="col-xs-8 mx-3">
                                <h5 class="mb-1 text-dark">Health experts want longer lockdown in Metro Manila <span class="badge badge-primary badge-pill">94% Credible</span></h5>
                                <p class="mt-1">GMA News <span class="badge badge-primary badge-pill">93% Credible</span>    <small>3 days ago</small></p>
                            </div>
                            <div class="col-xs-2 mx-3 align-self-center ml-auto">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="row d-flex flex-nowrap">
                            <div class="col-xs-8 mx-3">
                                <h5 class="mb-1 text-dark">Health experts want longer lockdown in Metro Manila <span class="badge badge-primary badge-pill">94% Credible</span></h5>
                                <p class="mt-1">GMA News <span class="badge badge-primary badge-pill">93% Credible</span>    <small>3 days ago</small></p>
                            </div>
                            <div class="col-xs-2 mx-3 align-self-center ml-auto">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="row d-flex flex-nowrap">
                            <div class="col-xs-8 mx-3">
                                <h5 class="mb-1 text-dark">Health experts want longer lockdown in Metro Manila <span class="badge badge-primary badge-pill">94% Credible</span></h5>
                                <p class="mt-1">GMA News <span class="badge badge-primary badge-pill">93% Credible</span>    <small>3 days ago</small></p>
                            </div>
                            <div class="col-xs-2 mx-3 align-self-center ml-auto">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </div>
                        </div>
                    </a>
                </div>
        </div>

        <div class="col-12 mt-4 container">
            <span class="headerBlue font-weight-bold p-0"><h4 class="font-weight-bold">Top News Sources:</h4></span>
                <ul class="list-unstyled row">
                <li class="list-item col-6 border-0 py-2">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-dark">GMA News <span class="badge badge-primary badge-pill">97% Credible</span></h5>
                        </div>
                        <small class="mt-1 text-primary font-weight-bold">See Articles
                            <button class="toggler text-secondary" type="button">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </button> 
                        </small>
                    </a>
                </li>
                <li class="list-item col-6 border-0 py-2">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-dark">GMA News <span class="badge badge-primary badge-pill">97% Credible</span></h5>
                        </div>
                        <small class="mt-1 text-primary font-weight-bold">See Articles
                            <button class="toggler text-secondary" type="button">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </button> 
                        </small>
                    </a>
                </li>
                <li class="list-item col-6 border-0 py-2">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-dark">GMA News <span class="badge badge-primary badge-pill">97% Credible</span></h5>
                        </div>
                        <small class="mt-1 text-primary font-weight-bold">See Articles
                            <button class="toggler text-secondary" type="button">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </button> 
                        </small>
                    </a>
                </li>
                <li class="list-item col-6 border-0 py-2">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-dark">GMA News <span class="badge badge-primary badge-pill">97% Credible</span></h5>
                        </div>
                        <small class="mt-1 text-primary font-weight-bold">See Articles
                            <button class="toggler text-secondary" type="button">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </button> 
                        </small>
                    </a>
                </li>
                <li class="list-item col-6 border-0 py-2">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-dark">GMA News <span class="badge badge-primary badge-pill">97% Credible</span></h5>
                        </div>
                        <small class="mt-1 text-primary font-weight-bold">See Articles
                            <button class="toggler text-secondary" type="button">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </button> 
                        </small>
                    </a>
                </li>
                <li class="list-item col-6 border-0 py-2">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-dark">GMA News <span class="badge badge-primary badge-pill">97% Credible</span></h5>
                        </div>
                        <small class="mt-1 text-primary font-weight-bold">See Articles
                            <button class="toggler text-secondary" type="button">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </button> 
                        </small>
                    </a>
                </li>
                <li class="list-item col-6 border-0 py-2">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-dark">GMA News <span class="badge badge-primary badge-pill">97% Credible</span></h5>
                        </div>
                        <small class="mt-1 text-primary font-weight-bold">See Articles
                            <button class="toggler text-secondary" type="button">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </button> 
                        </small>
                    </a>
                </li>
                <li class="list-item col-6 border-0 py-2">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-dark">GMA News <span class="badge badge-primary badge-pill">97% Credible</span></h5>
                        </div>
                        <small class="mt-1 text-primary font-weight-bold">See Articles
                            <button class="toggler text-secondary" type="button">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </button> 
                        </small>
                    </a>
                </li>
                <li class="list-item col-6 border-0 py-2">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-dark">GMA News <span class="badge badge-primary badge-pill">97% Credible</span></h5>
                        </div>
                        <small class="mt-1 text-primary font-weight-bold">See Articles
                            <button class="toggler text-secondary" type="button">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </button> 
                        </small>
                    </a>
                </li>
                <li class="list-item col-6 border-0 py-2">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-dark">GMA News <span class="badge badge-primary badge-pill">97% Credible</span></h5>
                        </div>
                        <small class="mt-1 text-primary font-weight-bold">See Articles
                            <button class="toggler text-secondary" type="button">
                                <i class="bi bi-caret-right-fill" title="Go "></i>
                            </button> 
                        </small>
                    </a>
                </li>
            </ul>    
        </div>
    </div>

    <div class="col-md-4 d-none d-md-block container-fluid mx-0 px-3">
        <!-- COVID -->
        <div class="card">
            <h5 class="card-header bg-white p-3">COVID-19 Update: Philippines</h5>
            <div class="card-body">
                <div class="row d-flex">
                        <div class="col-2 px-0 ml-3">
                            <img class="float-right" src="{% static 'images/virus.png' %}" height=45>
                        </div>
                        <div class="col-1 d-none d-sm-none d-md-none d-lg-block">

                        </div>
                        <div class="col">
                            <h5 class="card-text my-1">April</h5>
                            <h4 class="card-text">{{ phil_covid.infected }} Total Cases <i class="{{ phil_covid.icon }} text-success"></i> </h4>
                        </div>
                </div>
                <br>
                <div class="row d-flex px-2 mt-2">
                    <div class="col bg-danger p-2 mx-1 my-1 round" style="border-radius: 5px;">
                        <h6 class="card-text my-1 text-white text-center">Active Cases</h6>
                        <h6 class="card-text text-white text-center font-weight-bold">{{ phil_covid.active}}</h6>
                    </div>
                    <div class="col bg-success p-2 mx-1 my-1 round" style="border-radius: 5px;">
                        <h6 class="card-text my-1 text-white text-center">Total Recoveries</h6>
                        <h6 class="card-text text-white text-center font-weight-bold">{{ phil_covid.recovered}}</h6>
                    </div>
                    <div class="col bg-secondary p-2 mx-1 my-1 round" style="border-radius: 5px;">
                        <h6 class="card-text my-1 mx-auto text-white text-center">Total Deaths</h6>
                        <h6 class="card-text text-white text-center font-weight-bold">{{ phil_covid.deceased}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF COVID -->

        <!-- WEATHER -->
        <div class="card mt-3">
            <h5 class="card-header bg-white p-3">Your local weather</h5>
            <div class="card-body">
                <div class="row d-flex justify-content-start">
                        <div class="col-2 px-0 ml-3">
                            <img class="float-right" src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png">
                        </div>
                        <div class="col-1 d-none d-sm-none d-md-none d-lg-block">

                        </div>
                        <div class="col">
                            <h5 class="card-text my-1">{{ city_weather.description|title }}</h5>
                            <h4 class="card-text">{{ city_weather.temperature}} ° C</h4>
                        </div>
                </div>
                <br>
                <div class="row d-flex mt-2">
                    <div class="col mx-0 px-0">
                        <h6 class="card-text my-2 text-center font-weight-bold">Today</h6>
                        <img class="mx-auto d-block" src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png">
                        <h6 class="card-text font-weight-bold text-center">{{ city_weather.temperature}}°C</h6>
                    </div>
                    <div class="col mx-0 px-0">
                        <h6 class="card-text my-2 text-center">{{ city_weather.dt1}}</h6>
                        <img class="mx-auto d-block" src="http://openweathermap.org/img/w/{{ city_weather.icon1 }}.png">
                        <h6 class="card-text text-center">{{ city_weather.temperature1}}°C</h6>
                    </div>
                    <div class="col mx-0 px-0">
                        <h6 class="card-text my-2 text-center">{{ city_weather.dt2}}</h6>
                        <img class="mx-auto d-block" src="http://openweathermap.org/img/w/{{ city_weather.icon2 }}.png">
                        <h6 class="card-text text-center">{{ city_weather.temperature2}}°C</h6>
                    </div>
                    <div class="col mx-0 px-0">
                        <h6 class="card-text my-2 text-center">{{ city_weather.dt3}}</h6>
                        <img class="mx-auto d-block" src="http://openweathermap.org/img/w/{{ city_weather.icon3 }}.png">
                        <h6 class="card-text text-center">{{ city_weather.temperature3}}°C</h6>
                    </div>
                    <div class="col mx-0 px-0">
                        <h6 class="card-text my-2 text-center">{{ city_weather.dt4}}</h6>
                        <img class="mx-auto d-block" src="http://openweathermap.org/img/w/{{ city_weather.icon4 }}.png">
                        <h6 class="card-text text-center">{{ city_weather.temperature4}}°C</h6>
                    </div>
                
                </div>
            </div>
        </div>
        <!-- END OF WEATHER -->
        
        <!-- NEWS TOPICS -->
        <div class="card mt-3">
            <h5 class="card-header bg-white p-3">Trending News Topics</h5>
            <div class="card-body">
                <ul class="list-unstyled row">
                    <li class="list-item border-0 mx-1 my-1">
                    <a href="#" class="list-group-item list-group-item-action py-1 px-3 m-0">
                            <h6 class="text-dark">COVID-19</h6>
                    </a>
                    </li>
                    <li class="list-item border-0 mx-1 my-1">
                        <a href="#" class="list-group-item list-group-item-action py-1 px-3 m-0">
                            <h6 class="text-dark">COVID-19</h6>
                        </a>
                    </li>
                    <li class="list-item border-0 mx-1 my-1">
                        <a href="#" class="list-group-item list-group-item-action py-1 px-3 m-0">
                            <h6 class="text-dark">COVID-19</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END NEWS TOPICS -->
    </div>
</div>
    {% endblock %}               

            