{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/newsSec.css' %}">
{% endblock %}

{% block content %}
<div id="loading">
    <img id="loading-image" src="{% static 'images/ajax-loader.gif' %}" alt="Loading..." />
</div>
<div class="mx-auto mt-5 w-100" style="position: absolute; z-index: 0;" >
    <div id="newsSec">
        {% if article == None%}
        <div class="row">
            <div class="col-8">
                <!--
                <div class="d-flex justify-content-between flex-nowrap">
                    <h6 class="mb-1 text-dark font-weight-bold">GMA News <span class="badge badge-primary badge-pill">{{overall_src_cred}}% Credible</span></h6>
                    <a class="text-secondary" href="#">See GMA News Articles  <i class="bi bi-caret-right-fill" title="Go "></i></a>
                </div>
                -->
                <a class="text-dark" href="#">
                    <h3 class="text-dark mx-0 font-weight-bold">{{article_title}} <span class="badge badge-primary badge-pill">{{overall_art_cred}}% Credible</span></h3>
                    {% if article_date != None %}
                    <h6 class="text-secondary my-0 py-0">{{article_date}} days ago</h6>
                    {% endif %}
                </a>
            </div>
            <div class="col">
                <img class="border rounded" src="{{article_img}}" width=75%>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 my-3">
                <h6 class="text-secondary mb-4 py-0">News Article Credibility</h6>
                <div class="row mt-2">
                    <h6 class="col-md-3 pl-3 text-dark font-weight-bold">Relevancy</h6>
                    <div class="col-xl-4 progress mx-3 px-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{relevancy_art}}%" aria-valuenow="{{relevancy_art}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="mb-1 mx-2 pl-2 text-dark my-0 py-0">{{relevancy_art}}% Relevancy</h6>
                </div>
                <div class="row mt-2">
                    <h6 class="col-md-3 pl-3 text-dark font-weight-bold">Non-Opinion</h6>
                    <div class="col-xl-4 progress mx-3 px-0">
                        <div class="progress-bar" role="progressbar" style="width: {{opinion_art}}%; background-color: rgb(73, 100, 255);" aria-valuenow="{{opinion_art}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="mb-1 mx-2 pl-2 text-dark my-0 py-0">{{opinion_art}}% Non-Opinion</h6>
                </div>
                <div class="row mt-2">
                    <h6 class="col-md-3 pl-3 text-dark font-weight-bold">Non-Satire</h6>
                    <div class="col-xl-4 progress mx-3 px-0">
                        <div class="progress-bar" role="progressbar" style="width: {{satire_art}}%; background-color: blueviolet;" aria-valuenow="{{satire_art}}" aria-valuemin="0" aria-valuemax="100" ></div>
                    </div>
                    <h6 class="mb-1 mx-2 pl-2 text-dark my-0 py-0">{{satire_art}}% Non-Satire</h6>
                </div>
                <div class="row mt-2">
                    <h6 class="col-md-3 pl-3 text-dark font-weight-bold">Nonsensational</h6>
                    <div class="col-xl-4 progress mx-3 px-0">
                        <div class="progress-bar" role="progressbar" style="width: {{sensational_art}}%; background-color: rgb(232, 75, 75)" aria-valuenow="{{sensational_art}}" aria-valuemin="0" aria-valuemax="100" ></div>
                    </div>
                    <h6 class="mb-1 mx-2 pl-2 text-dark my-0 py-0">{{sensational_art}}% Nonsensational</h6>
                </div>
                <div class="row mt-4 pl-3">
                    <h4 class="text-dark font-weight-bold py-0">OVERALL CREDIBILITY: </h4>
                    <h4 class="text-success font-weight-bold py-0 pl-3"> {{overall_art_cred}}%</h4>
                </div>
            </div>
            <!--
            <div class="col-12 my-3">
                <h6 class="text-secondary mb-4 py-0">News Outlet Credibility</h6>
                <div class="row mt-2">
                    <h6 class="col-md-3 pl-3 text-dark font-weight-bold">Relevancy</h6>
                    <div class="col-xl-4 progress mx-3 px-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{relevancy_src}}%" aria-valuenow="{{relevancy_src}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="mb-1 mx-2 pl-2 text-dark my-0 py-0">{{relevancy_src}}% Relevancy</h6>
                </div>
                <div class="row mt-2">
                    <h6 class="col-md-3 pl-3 text-dark font-weight-bold">Non-Opinion</h6>
                    <div class="col-xl-4 progress mx-3 px-0">
                        <div class="progress-bar" role="progressbar" style="width: {{opinion_src}}%; background-color: rgb(73, 100, 255);" aria-valuenow="{{opinion_src}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="mb-1 mx-2 pl-2 text-dark my-0 py-0">{{opinion_src}}% Non-Opinion</h6>
                </div>
                <div class="row mt-2">
                    <h6 class="col-md-3 pl-3 text-dark font-weight-bold">Non-Satire</h6>
                    <div class="col-xl-4 progress mx-3 px-0">
                        <div class="progress-bar" role="progressbar" style="width: {{satire_src}}%; background-color: blueviolet;" aria-valuenow="{{satire_src}}" aria-valuemin="0" aria-valuemax="100" ></div>
                    </div>
                    <h6 class="mb-1 mx-2 pl-2 text-dark my-0 py-0">{{satire_src}}% Non-Satire</h6>
                </div>
                <div class="row mt-2">
                    <h6 class="col-md-3 pl-3 text-dark font-weight-bold">Nonsensational</h6>
                    <div class="col-xl-4 progress mx-3 px-0">
                        <div class="progress-bar" role="progressbar" style="width: {{sensational_src}}%; background-color: rgb(232, 75, 75)" aria-valuenow="{{sensational_src}}" aria-valuemin="0" aria-valuemax="100" ></div>
                    </div>
                    <h6 class="mb-1 mx-2 pl-2 text-dark my-0 py-0">{{sensational_src}}% Nonsensational</h6>
                </div>
                <div class="row mt-4 pl-3">
                    <h4 class="text-dark font-weight-bold py-0">OVERALL CREDIBILITY: </h4>
                    <h4 class="text-success font-weight-bold py-0 pl-3"> {{overall_src_cred}}%</h4>
                </div>
            </div>
            -->
        </div>
        {% else %}
            <div class="list-group-item list-group-item-action mt-3">
                <div    >
                    <h5 class="ml-2">Invalid URL entered</h5>
                    <h6 class="ml-2">Try again with correct format. For example: <span class="font-weight-bold">http://www.example.com/index.html</span></h6>
                </div>
            </div>    
        {% endif %}
    </div>
</div>
{% endblock %}               

{% block script %}
    <script>
        $(window).on('load',function() {
            $('#loading').hide();
        });
    </script>
{% endblock %}
            