.bgGreen {
  background-color: #28a745;
}

.bgBlue {
  background-color: #4964ff !important;
}

.bgPurple {
  background-color: #8a2be2;
}

.bgRed {
  background-color: #e84b4b;
}

.bgOrange {
  background-color: #f88600;
}
