html, body{
    height: 100%;
    margin: 0;
}
.toggler, .toggler:focus, .toggler:active,.toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0px;
    background-color: transparent;    
}

.active{
    background-color: #D9E8FF;
    color: black;
}

.headerBlue{
    color: #367EE8;
}

.bgBlue{
    background-color: #367EE8;
}
.bgBlue:hover{
    background-color: #2862b8;
}

#sideBar {      
    background-color: white;
    overflow: hidden; 
}

.bgGray{
    background-color:#E8E8E8;
}

.mainContent{
    overflow: hidden;
}

@media only screen and (max-width: 480px) {
    .mainContent {
        padding-left: 60px;
        padding-right: 60px;
        z-index: 0;
    }
    #sideBar{
        position: absolute;
        width:300px;
        top: 80px;
        bottom: 0;
        z-index: 1;
    }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .mainContent {
        padding-left: 60px;
        padding-right: 60px;
        z-index: 0;
    }
    #sideBar{
        position: absolute;
        width:300px;
        top: 80px;
        bottom: 0;
        z-index: 1;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .mainContent {
        z-index: 0;
    }
    #sideBar{
        position: absolute;
        width:300px;
        top: 80px;
        bottom:0;
        z-index: 1;
    }
}

.navbar-light .navbar-toggler {
    border-color:white !important;
}

.navbar-toggler:focus{
    border-color: rgba(21, 21, 21, 0.5);
}
